WebApi/Service References/AdminService/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://dataservice/interfaces/admin" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dataservice/interfaces/admin" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://dataservice/interfaces/admin/Imports">
      <xsd:import schemaLocation="http://desktop-ecrdoum/DataService/Services/AdminService.svc?xsd=xsd0" namespace="http://dataservice/interfaces/admin" />
      <xsd:import schemaLocation="http://desktop-ecrdoum/DataService/Services/AdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://desktop-ecrdoum/DataService/Services/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IAdminService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IAdminService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UnsubscribeAll_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeAll" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UnsubscribeAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeAllResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetUserSubscriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserSubscriptions" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetUserSubscriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserSubscriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetSubscriptionUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionUsers" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetSubscriptionUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://dataservice/interfaces/admin/IAdminService/Subscribe" message="tns:IAdminService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://dataservice/interfaces/admin/IAdminService/SubscribeResponse" message="tns:IAdminService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://dataservice/interfaces/admin/IAdminService/Unsubscribe" message="tns:IAdminService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://dataservice/interfaces/admin/IAdminService/UnsubscribeResponse" message="tns:IAdminService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeAll">
      <wsdl:input wsaw:Action="http://dataservice/interfaces/admin/IAdminService/UnsubscribeAll" message="tns:IAdminService_UnsubscribeAll_InputMessage" />
      <wsdl:output wsaw:Action="http://dataservice/interfaces/admin/IAdminService/UnsubscribeAllResponse" message="tns:IAdminService_UnsubscribeAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserSubscriptions">
      <wsdl:input wsaw:Action="http://dataservice/interfaces/admin/IAdminService/GetUserSubscriptions" message="tns:IAdminService_GetUserSubscriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://dataservice/interfaces/admin/IAdminService/GetUserSubscriptionsResponse" message="tns:IAdminService_GetUserSubscriptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionUsers">
      <wsdl:input wsaw:Action="http://dataservice/interfaces/admin/IAdminService/GetSubscriptionUsers" message="tns:IAdminService_GetSubscriptionUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://dataservice/interfaces/admin/IAdminService/GetSubscriptionUsersResponse" message="tns:IAdminService_GetSubscriptionUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>