WebApi/Service References/UserServiceReference/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64849/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ApiUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subscriptions" nillable="true" type="tns:ArrayOfApiSubscription" />
      <xs:element minOccurs="0" name="TotalCallMinutes" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPriceIncVatAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApiUser" nillable="true" type="tns:ApiUser" />
  <xs:complexType name="ArrayOfApiSubscription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApiSubscription" nillable="true" type="tns:ApiSubscription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApiSubscription" nillable="true" type="tns:ArrayOfApiSubscription" />
  <xs:complexType name="ApiSubscription">
    <xs:sequence>
      <xs:element minOccurs="0" name="CallMinutes" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="PriceIncVatAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="UrlFriendly" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApiSubscription" nillable="true" type="tns:ApiSubscription" />
  <xs:complexType name="ArrayOfApiUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApiUser" nillable="true" type="tns:ApiUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApiUser" nillable="true" type="tns:ArrayOfApiUser" />
</xs:schema>